*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    pointer-events: allS;
}
/* loading bar....................................... */
.overlay{
    height: 100vh;
    width: 100vw;
    background-color: black;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transform-origin: center;
    position: relative;
    z-index: 105;
    pointer-events: all;
}
.overlay .percent h1{
    color: white;
}
.overlay .wrapper{
    width: 50vw;
    max-width: 400px;
    height: 10vh;
    position: relative;
    transform-origin: center;
    overflow: visible;

}
.overlay .progress-bar{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 150;
    /* opacity: 0; */
}
.overlay .wholebar{
    height: 100%;
    width: 100%;
    background-color: rgb(67, 67, 67);
    border-radius: 10px;
    border: 2px solid rgb(187, 187, 187);
    overflow: hidden;
}
.overlay .indicator{
    width: 100%;
    height: 100%;
    background-color: rgb(187, 187, 187);
    /* border-radius: inherit; */
    transform: translateX(-100%);
    transition: all 0.15s;
}

.overlay .box1{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 120;
    background-color: rgb(187, 187, 187);
    width: 60%;
    height: 100%;
    border-radius: 10px;
    transform-origin: top right;
    /* transform: rotate(90deg); */
    
}
.overlay .box2{
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(187, 187, 187);
    width: 40%;
    height: 100%;
    border-radius: 10px;
    z-index: 120;

}
.overlay .box3{
    position: absolute;
    top: 0;
    right: 40%;
    background-color: #bbbbbb;
    
    height: 100%;
    aspect-ratio: 1;
    border-radius: 10px;
    border-top: 5px solid black;
    border-right: 5px solid black;
    z-index: 110;
    opacity: 0;
}


