/* font declaration ...........................*/

@font-face {
    font-family: porsche;
    src: url('./assets/fonts/Porsche-font.ttf');
}
@font-face {
    font-family: OpenSansItalic;
    src: url('./assets/fonts/open-sans-italic/OpenSans-Italic.ttf');
}
@font-face {
    font-family: Oleto;
    src: url('./assets/fonts/Oleto\ DEMO.ttf');
}
@font-face {
    font-family: OpenSans;
    src: url('./assets/fonts/open-sans-italic/OpenSans-Regular.ttf');
}


/* basic structure............................... */
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

:root{
    /* color......... */
    --lightColor: rgb(218, 218, 218);
    --darkColor:rgb(15, 15, 15);
    --hoverColor:rgb(48, 48, 48);
    --gray-color:#a3a3a3;

    /* --fontColor: ; */
    --gradient-color-top:white;
    --gradient-color-bottom:black;


    /* fonts.......... */
    --logo-font : porsche;
    --italic-font: OpenSansItalic;
    --inter: inter;
    --hollow-font:Oleto;
    --base-font: OpenSans;

}
html,body{
    overflow-x: hidden;
}

/* global structure ............................... */
.pages{
    height: 100vh;
    width: 100vw;
    background-color: var(--darkColor);
    position: relative;
}
.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gradient-text{
    background-image: linear-gradient(var(--gradient-color-top),var(--gradient-color-bottom));
    background-clip: text;
    color: transparent;

    /* for safari */
    background: -webkit-linear-gradient(var(--gradient-color-top),var(--gradient-color-bottom));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gradient-text-70p{
    background-image: linear-gradient(var(--gradient-color-top) 70%,var(--gradient-color-bottom));
    background-clip: text;
    color: transparent;

    /* for safari */
    background: -webkit-linear-gradient(var(--gradient-color-top) 70%,var(--gradient-color-bottom));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-text-reverse{
    background-image: linear-gradient(var(--gradient-color-bottom),var(--gradient-color-top));
    background-clip: text;
    color: transparent;

    /* for safari */
    background: -webkit-linear-gradient(var(--gradient-color-bottom),var(--gradient-color-top));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* header section.................................... */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
   
    padding: 30px 80px;
    height: auto;
    width: 100%;
    

    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}
nav .logo{
    /* width: 85px; */
    height: 25px;
    
}

/* logo img in global section */

nav .hamburger{
    width: auto;
    height: 30px;
    padding: 5px;
    
    border-radius: 50%;
    cursor: pointer;
}
nav .hamburger:hover{
    background-color: var(--hoverColor);
}
.hamburger svg{
    width: 100%;
    height: 100%;
    fill: var(--lightColor);
}

/* fixed watermark in lower right.................. */
.watermark{
    width: max-content;

    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 99;
    
}
.watermark .wrapper{
    width: auto;
    height: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.watermark .wrapper .logo{
    width: 20px;
}
.watermark .wrapper .name h3{
    font-family: var(--logo-font);
    color: var(--lightColor);
    font-weight: 100;
    letter-spacing: 1px;
}

/* page coustomization........................... */

/* page 1.........................................*/

.page-1{
    position: relative;
    color: var(--lightColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.page-1 .main-heading{
    position: absolute;
    top: 15%;
    
    
}
.page-1 .main-heading h1{
    font-family: var(--logo-font);
    font-weight: 100;
    font-size: 10vw;

    background-image: linear-gradient(var(--gradient-color-top),var(--gradient-color-bottom));
    background-clip: text;
    color: transparent;

    /* for safari */
    background: -webkit-linear-gradient(var(--gradient-color-top),var(--gradient-color-bottom));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.page-1 .sub-heading {
    position: absolute;
    bottom: 10%;

    font-size: 50px;
    
    font-family:var(--italic-font);
    font-weight: 100;

    background-image: linear-gradient(var(--gradient-color-top),var(--gradient-color-bottom));
    background-clip: text;
    color: transparent;

    /* for safari */
    background: -webkit-linear-gradient(var(--gradient-color-top),var(--gradient-color-bottom));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* page 2.........................................*/

.page-2{
    position: relative;
}


.trans-text{
    position: absolute;
    bottom: 10vh;
    left: 2.6vw;
}

.page-2 .trans-text .text11{
    font-family: var(--hollow-font);
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 9.3rem;
    color: var(--lightColor);
    transform: rotate(180deg);
    letter-spacing: 17px;
   
}

.page2-discription-part{
    font-family: var(--base-font);
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: absolute;
    right: 34px;
    bottom: 96px;
    color: var(--lightColor);
    
    max-width: 27vw;
}

.page2-discription-part .headline{
    font-family: var(--base-font);
    font-weight: 700;
    font-size: 1.2rem;
}
.page2-discription-part .discrip{
    font-family:var(--italic-font);
    font-weight: 400;
    color: var( --gray-color);
}


/* page 3.................................... */

.page-3{
    background-image: url('assets/tmp/upper car.png');
    background-size: cover;
    background-position: center;
    color: var(--lightColor);
}
.page-3 .top-left{
    position: absolute;
    top: 20%;
    left: 10%;
}
.page-3  h3{
    font-size: 7vw;
    font-family: var(--logo-font);
    font-weight: 100;
    margin-bottom: 10px;
}
@media only screen and (min-width: 960px){
    .page-3 .top-left h3{
        font-size: 60px;
    }
}
.page-3 .top-left p{
    max-width: 30%;
    font-family: var(--base-font);
    font-size: 1.2rem;
    color: var(--gray-color);
}
.page-3 .bottom-right{
    position: absolute;
    bottom: 15%;
    right: 10%;
    width: 25vw;
    max-width: 300px;

}
.page-3 .bottom-right .wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    
    
}
.page-3 .bottom-right h3{
    font-size: 5vw;
    
}
@media only screen and (min-width: 960px){
    .page-3 .bottom-right h3{
        font-size: 60px;
    }
}
.page-3  .end{
    margin-left: auto;
}
