/* font declaration ...........................*/

@font-face {
    font-family: porsche;
    src: url('./assets/fonts/Porsche-font.ttf');
}
@font-face {
    font-family: OpenSansItalic;
    src: url('./assets/fonts/open-sans-italic/OpenSans-Italic.ttf');
}
@font-face {
    font-family: Oleto;
    src: url('./assets/fonts/Oleto\ DEMO.ttf');
}

/* basic structure............................... */
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

:root{
    /* color......... */
    --lightColor: rgb(218, 218, 218);
    --darkColor:rgb(15, 15, 15);
    --hoverColor:rgb(48, 48, 48);
    --gray-color:#a3a3a3;

    /* --fontColor: ; */
    --gradient-color-top:white;
    --gradient-color-bottom:black;


    /* fonts.......... */
    --logo-font : porsche;
    --italic-font: OpenSansItalic;

}
html,body{
    overflow-x: hidden;
}

/* global structure ............................... */
.pages{
    height: 100vh;
    width: 100vw;
    background-color: var(--darkColor);
}
.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* header section.................................... */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
   
    padding: 30px 80px;
    height: auto;
    width: 100%;
    

    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}
nav .logo{
    /* width: 85px; */
    height: 25px;
    
}

/* logo img in global section */

nav .hamburger{
    width: auto;
    height: 30px;
    padding: 5px;
    
    border-radius: 50%;
    cursor: pointer;
}
nav .hamburger:hover{
    background-color: var(--hoverColor);
}
.hamburger svg{
    width: 100%;
    height: 100%;
    fill: var(--lightColor);
}

/* fixed watermark in lower right.................. */
.watermark{
    width: max-content;

    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 99;
    
}
.watermark .wrapper{
    width: auto;
    height: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.watermark .wrapper .logo{
    width: 20px;
}
.watermark .wrapper .name h3{
    font-family: var(--logo-font);
    color: var(--lightColor);
    font-weight: 100;
    letter-spacing: 1px;
}

/* page coustomization........................... */

/* page 1.........................................*/

.page-1{
    position: relative;
    color: var(--lightColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.page-1 .main-heading{
    position: absolute;
    top: 15%;
    
    
}
.page-1 .main-heading h1{
    font-family: var(--logo-font);
    font-weight: 100;
    font-size: 10vw;

    background-image: linear-gradient(var(--gradient-color-top),var(--gradient-color-bottom));
    background-clip: text;
    color: transparent;

    /* for safari */
    background: -webkit-linear-gradient(var(--gradient-color-top),var(--gradient-color-bottom));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.page-1 .sub-heading {
    position: absolute;
    bottom: 10%;

    font-size: 50px;
    
    font-family:var(--italic-font);
    font-weight: 100;

    background-image: linear-gradient(var(--gradient-color-top),var(--gradient-color-bottom));
    background-clip: text;
    color: transparent;

    /* for safari */
    background: -webkit-linear-gradient(var(--gradient-color-top),var(--gradient-color-bottom));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* page 2.........................................*/

.page-2{
    position: relative;
}


.trans-text{
    position: absolute;
    bottom: 10vh;
    left: 2.6vw;
}

.page-2 .trans-text .text11{
    font-family: Oleto;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 9.3rem;
    color: var(--lightColor);
    transform: rotate(180deg);
    letter-spacing: 17px;
   
}

.page2-discription-part{
    font-family: inter;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: absolute;
    right: 34px;
    bottom: 96px;
    color: var(--lightColor);
    
    max-width: 27vw;
}

.page2-discription-part .headline{
    font-family: OpenSansItalic;
    font-weight: 700;
    font-size: 1.2rem;
}
.page2-discription-part .discrip{
    font-family:OpenSansItalic;
    font-weight: 400;
    color: var( --gray-color);
}

/* page 4.........................................*/


.page-4 {
   position: relative;
   backdrop-filter: blur(5px);
   background-image: linear-gradient(-235deg,rgba(255, 255, 255, 0),rgba(0, 0, 0, 0.281));
   /* background-image: radial-gradient(rgba(255, 255, 255, 0) 10%,rgba(0, 0, 0, 0.281)); */
   background-size: 20px 20px;
}

.slider-wrapper {
    width: 90%;
    position: absolute;
    top: 27%;
    left: 5%;
}

.page-4 .holder {
    width: 100%;
    height: 70%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(5, auto); 
    grid-gap: 20px;
    padding: 10px;
    overflow-x: auto;
    scrollbar-color: #888 #f1f1f1; 
    scrollbar-width: thin;
    border: none; 
}

.card-container {
    position: relative;
}

.slider-wrapper .cards {
    position: relative;
    transition: all 0.3s ease-in-out;
}

.slider-wrapper .cards:hover{
    transform: translateY(-30px);
}

.page-4 .holder:hover > :not(:hover){
    filter: blur(5px);
    opacity: 0.5;
    transform: translateY(5px);
}


.hover-after {
    position: absolute;
    width: 100%;
    height: 100%;
}

.car-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    border-radius: 35px;
}

.cover-logo-text {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 2vh;
    left: 1vw;
    gap: 12px;
    pointer-events: none;
}

.cards-logo {
    height: 35px;
    opacity: 0;
    pointer-events: none;
}

.cover-logo-text .car-name {
    font-family: var(--base-font);
    color:  #CB9D58;
    font-weight: 900;
    font-size: 2rem;
    opacity: 0;
    pointer-events: none;
}



.hover-after:hover {
    background-image: linear-gradient(transparent, #000000);
}